.posts .userdetails .profileimage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    
}
.posts .userdetails .profileimage img{
    border-radius: 50%;
    width: 100%;
}

 .card{
    margin: auto;
    margin-top: 20px;
}
 .card .creator img{
    width: 25%;
    height: 25%;
    align-self: flex-start;
    border-radius: 50%;
    
}
 .card .creator .data{
  display: flex;
  align-items: center;

}
 .card .creator .data h5{
    padding-left: 10px;
    cursor: pointer;

    
}
.card .cretor .data h5:hover{
    text-underline-position: below;
    color: blueviolet;
}
.card .creator {
    display: flex;
}

.card .creator .text{
    color: blue;
    padding-right: 50px;
    padding-top: 30px;

}

 .card .creator .maindiv{
    width: 90%;
    height: 90%;
    display: flex;
    color: blue;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    
}
.card .creator .maindiv h5:hover{
    color: red;
    text-decoration-line: underline;


}
.card .creator .text:hover {
    color: purple;
    
}
 
.card .icons div{
    padding: 10px;
}
 .card .icons{
    font-size: 1.2rem;
    cursor: pointer;
}